<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Agionet_Mailing__ALUX_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Agionet_Mailing__ALUX_.My.MySettings>
            <setting name="DataBase" serializeAs="String">
                <value>AgioNet v1.3</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>Agiotech01</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>192.168.1.6</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>aguser</value>
            </setting>
        </Agionet_Mailing__ALUX_.My.MySettings>
    </userSettings>
</configuration>